[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
discord = "*"
praw = "*"
python-dotenv = "*"
urbandictionary = "*"
lyricsgenius = "*"

[requires]
python_version = "3.8"
